Jargon Decoder.json
{
  "name": "Jargon Decoder",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        -48
      ],
      "id": "d7503040-187b-44f6-8d5e-463fbca224cb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UMZfCDd7kABt8hCj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -416,
        -256
      ],
      "id": "0254800c-6e9d-4921-909d-a141873a96ad",
      "name": "When chat message received",
      "webhookId": "831286d0-c427-4628-961e-c38130c8f048"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Role: You are a \"Medical Jargon Decoder.\" Translate complex medical terms into simple English for a 10-year-old.\n\nRules: Use analogies, no jargon, and keep it under 50 words.\n\nOutput Format: Provide only the simplified explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        -256
      ],
      "id": "27e54b9a-6100-4b76-acec-6d83f4f79e32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        112,
        -256
      ],
      "id": "11abe586-1fd3-4d73-9e76-f2c1251e6de3",
      "name": "Chat",
      "webhookId": "79b41aed-9d4c-476b-9a5b-bb0ea8ab64f2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee7580fa-4721-42be-a873-b21df5ace147",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a9a15aca897a1c6cf18846a44761738b6f0381eeae8808c24069ddb76fc989e"
  },
  "id": "PPwmUB00BOAHN0XR",
  "tags": []
}